@use "./components/global.scss" as *;
@use "./components/buttons.scss" as *;

@use "./pages/landing" as *;
@use "./pages/game" as *;

:root {

    .card {
        // --bs-body-bg: #26491f;
        --bs-card-bg: #26491f;
        --bs-card-cap-bg: #1a3115;
        --bs-card-cap-color: #fff;
        --bs-card-color: #fff;
        --bs-heading-color: #fff;
        --bs-modal-color: #fff;
    }

}

.stick-regular {
  font-family: "Stick", sans-serif;
  font-weight: 400;
  font-style: normal;
}

i {
    margin-right: 0.2rem;
}

button,
.btn {
    white-space: pre;
    font-size: 0.7rem !important;
}